<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE BoolzApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 5px;
          
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: transparent; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888; 
          border-radius: 3px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
        </style>

</head>

<body :class="isDark ? 'dark' : '' " >
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div id="bgc-top"></div>
        <div id="main-display" :class="isDark ? 'dark' : '' ">
            <!--parte sinistra ---------------------------------- -->
            <div id="left-side">
                <div class="top-bar" :class="isDark ? 'dark' : '' ">
                    <div class="top-left">
                        <div class="img-container">
                            <img :src="myProfileImg" alt="userImg">
                        </div>
                        <span>{{myProfileName}}</span>
                    </div>
                    <div class="top-right">
                        <div @click="changeIsDark()" >
                            <i class="fa-solid fa-circle-half-stroke" ></i>
                        </div>
                        <i class="fa-solid fa-circle-notch"></i> 
                        <i class="fa-solid fa-user"></i> 
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div id="notification-alert" :class="isDark ? 'dark' : '' ">
                    <div class="alert-signal" :class="isDark ? 'dark' : '' "><i class="fa-regular fa-bell-slash"></i></div>
                    <div class="alert-text">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a href="index.html" id="alert-active" :class="isDark ? 'dark' : '' ">Attive notifiche desktop</a>
                    </div>
                </div>

                <div id="search-bar" :class="isDark ? 'dark' : '' ">
                    <button id="btn-search" :class="isDark ? 'dark' : '' "><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" :class="isDark ? 'dark' : '' " placeholder="Search" v-model="searching">
                </div>

                <!--inizio userlist chat -------------------------->
                <ul class="my-list">
                    <li v-for="(contact, index) in contactsList" class="my-contact"  :class="isDark ? 'dark' : '' " :class="index == activeIndex ? 'active-chat' : '' " @click="addActive(index)">
                        <div class="contact-left">
                            <div class="contact-img-profile">
                                <div class="img-container">
                                    <img :src="contact.avatar" alt="photo">
                                </div>    
                            </div>
                            <div class="contact-text">
                                <span>{{contact.name}} </span>
                                <span class="contact-last-message">{{contact.messages[contact.messages.length-1].message}}</span>
                               
                            </div>
                        </div>
                        <div class="contact-date">{{contact.messages[contact.messages.length-1].date}}</div>
                    </li>

                </ul>


            </div>


            <!-- parte destra ----------------------------------- -->
            <div id="right-side" :class="isDark ? 'dark' : '' ">
                <div class="top-bar" :class="isDark ? 'dark' : '' ">
                    <div class="top-left">
                        <div class="img-container">
                            <img :src="contactsList[activeIndex] == undefined ? '' : contactsList[activeIndex].avatar" alt="">
                        </div>
                        <span v-if="contactsList[activeIndex] == undefined"> </span>
                        <div id="active-chat-contact-text" v-else>
                            <span>{{contactsList[activeIndex].name}}</span>
                            <span class="right-contact-date">Ultimo accesso alle {{contactsList[activeIndex].messages[contactsList[activeIndex].messages.length - 1].date}}</span>
                        </div>
                    </div>
                    <div class="top-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i> 
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!--message display-------------------------->
                <div class="message-chat">
                    <ul class="my-message-list">
                        <li v-if="contactsList[activeIndex] == undefined "> </li>
                        <li v-for="(text, index) in contactsList[activeIndex].messages" class="message" :class="text.status" v-else>
                            <div class="message-text">
                                {{text.message}}
                            </div>
                            <div class="message-date">
                                {{text.date}}
                            </div>
                        </li>

                       
                    </ul>

                    
                </div>

                <!--input bar-------------------------------->
                <div class="write-message" :class="isDark ? 'dark' : '' ">
                    <i class="fa-regular fa-face-smile"></i>
                    <span v-if="contactsList[activeIndex] == undefined">!!! Can't send message !!!</span>
                    <input v-model="newMessage" :class="isDark ? 'dark' : '' " type="text" placeholder="new message" @keyup.enter="sendMessage(activeIndex)" v-else>
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

        </div>
    </div>









    <script src="js/script.js"></script>
</body>
</html>